# Tidy Data Example

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({
    'temperature': [3.0, 1.0, -4.0],
    'humidity': [85, 87, 98],
    'wind_speed': [5, 2, 3],
},
    index=['Ipswich', 'Norwich', 'Cambridge'])
df

           temperature  humidity  wind_speed
Ipswich            3.0        85           5
Norwich            1.0        87           2
Cambridge         -4.0        98           3

In [7]:
print(df.to_csv())

,temperature,humidity,wind_speed
Ipswich,3.0,85,5
Norwich,1.0,87,2
Cambridge,-4.0,98,3